@import 'config';

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    //background
    &#bg-img{
    width: 100%;
    height: 100vh;
    background: $background-img;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
    &::after{
        content: '';
        position: fixed;
        background: $bg-overlayColor;
        height: 100%;
        width: 100%;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
    }
}
main{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    color: $primary-color;
    width: 100%;

    //time board 
    .tm-board{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50vh;
        width: 60%;
        background-color: $primary-color;
        border-radius: 2em;
        .tm-clocks{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: space-around;
            .tm-white{
                display: flex;
                flex-direction: row;
                margin: 0 1em;
                width: 50%;
                height: auto;
                color: $secondary-color;
            }
            .tm-black{
                display: flex;
                flex-direction: row;
                margin: 0 1em;
                background-color: $secondary-color;
                color: $primary-color;
                width: 50%;
                height: auto;
            }
            h3{
                margin: 0 0.5em;
            }
        }
        .reset-btn{
            display: block;
        }
    }
}